body {
    font-family: 'Roboto', 'Raleway',
        sans-serif;
    font-family: 'Roboto Condensed',
        sans-serif;
    font-weight: 500;
    color: #757575;
}
header{
    position: absolute;
        width: 1600px;
        height: 80px;
        left: 0px;
        top: 0px;
}
.logo {
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #000000;
}
.logo-web 
{
    color: #2196F3;
} 
.tel 
{
    position: absolute;
    width: 110px;
    height: 16px;
    left: 1263px;
    top: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}
.mail
{
    position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196F3;
}
.link-k
{
    position: absolute;
        width: 51px;
        height: 16px;
        left: 656px;
        top: 32px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #212121;
}
.link-p
{
    position: absolute;
        width: 51px;
        height: 16px;
        left: 554px;
        top: 32px;
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
        color: #212121;
}
.link-a
{
    position: absolute;
        width: 53px;
        height: 16px;
        left: 453px;
        top: 32px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #2196F3;
}
.baner{
    position: absolute;
        width: 1600px;
        height: 600px;
        left: 0px;
        top: 80px;
        background: #2F303A;
        
}
h1
{
position: absolute;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 180px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    
}
.btn-order
{
    position: absolute;
        width: 200px;
        height: 50px;
        left: 700px;
        top: 350px;
        background: #2196F3;
        border-radius: 4px;
        color: #FFFFFF;
}
.span-order
{
    
    position: absolute;
        width: 117px;
        height: 30px;
        left: 742px;
        top: 440px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
}
.box-skills
{
    position: absolute;
        width: 1170px;
        height: 101px;
        left: 50px;
        top: 774px;
        text-indent: 0px;
}
.skill4
{
    position: absolute;
        width: 270px;
        height: 101px;
        left: 1115px;
        
}
.skill3
{
    position: absolute;
        width: 270px;
        height: 101px;
        left: 815px;
        
}
.skill2
{
    position: absolute;
        width: 270px;
        height: 101px;
        left: 515px;
        
}
.skill1
{
    position: absolute;
        width: 270px;
        height: 101px;
        left: 215px;
        
}
.box-wawd
{
    position: absolute;
        width: 1170px;
        height: 400px;
        left: 215px;
        top: 969px;
}
.image1
{
position: absolute;
    width: 370px;
    height: 294px;
    left: 50px;
    top: 100px;
}
.image2
{
position: absolute;
    width: 370px;
    height: 294px;
    left: 450px;
    top: 100px;
}
.image3
{
position: absolute;
    width: 370px;
    height: 294px;
    left: 850px;
    top: 100px;
}
.title1
{position: absolute;
    width: 500px;
    height: 42px;
    left: 390px;
    top: -35px;
    

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;}
    .team-card
    {
        position: absolute;
            width: 1600px;
            height: 648px;
            left: 0px;
            top: 1449px;
            background: #F5F4FA;
    }
    .title2
    {
        position: absolute;
            width: 300px;
            height: 50px;
            left: 695px;
    
        
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 42px;
            text-align: center;
            letter-spacing: 0.03em;
        
            color: #212121;
    }
.card-1
{
    position: absolute;
        width: 270px;
        height: 368px;
        left: 215px;
        top:100px;
    
        background: #FFFFFF;
}
.card-2
{
    position: absolute;
        width: 270px;
        height: 368px;
        left: 515px;
        top: 100px; 
    
        background: #FFFFFF;
}
.card-3
{
    position: absolute;
        width: 270px;
        height: 368px;
        left: 815px;
        top: 100px;
    
        background: #FFFFFF;
}
.card-4
{position: absolute;
    width: 270px;
    height: 368px;
    left: 1115px;
    top: 100px;

}
footer
{
position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2097px;

    background: #2F303A;
}


