body
{
    background-color: rgb(208, 147, 67);
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
 }
 a:link{color: yellowgreen;
 }
 a:visited{color: yellowgreen;}

 a:hover{color: rgb(156, 71, 241);}